{% extends 'template.html.twig' %}

{% block title %}Hello TabController!{% endblock %}

{% block body %}

<table class="table">

{% for tableau in tab %}
    <tr>
    <td>{{tableau}}
    {% if tableau is odd %}->impaire 
    {% else %} ->paire
    {% endif %}</td>
</tr>
{% endfor %}

</table >
<div class="alert alert-info">
    <p>nombre de notes: {% if tab|length<10  %}
     {{tab|length}}:<span class="text-danger">la note {{tab|length}} est inférieure à 10</span>
    {% else %}
     {{tab|length}}:<span class="text-success">super,note superieure à 10!</span>
    {% endif %}
    </p>
    <p>notes minimale: {{min(tab)}}</p>
    <p>notes minimale: {{max(tab)}}</p>
</div>

    



{% endblock %}
