{% extends 'template.html.twig' %}

{% block pageTitle %}
    <h1 class='text-primary text-center'>Liste des personnes</h1>
{% endblock %}

{% block body %}
    <div class="row">
    {% for personne in personnes %}
            <div class="card " style="width: 15rem;">
            
                <div class="card-body">
                    <h5 class="card-title">{{personne.name}} {{personne.firstName}}</h5>
                    <p class="card-text card-center"><strong>Age</strong>:{{personne.age}} ans</p>
                    <p class="card-text card-center">le {{'now'|date('d/m/Y')}}</p>
                </div>
                <a  href="{{path('detail_personne',{id:personne.id})}} " class="btn btn-primary m-2">Détail</a>
            </div> 
    {% endfor %}
</div>


  {% endblock %}